<!DOCTYPE html>
<html>
  <head>
    <title>Le site des anciens</title>
    <link rel='stylesheet' href='/stylesheets/plugins.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/responsive.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <% include ./partials/header %>

    <div class="container">
      <h6>Bienvenue dans le forum</h6>

      <a href="/forum/chat_add" class="btn btn-primary">Create a chat</a>

      <a href="/forum/chat?id=37" class="btn"> To the only chat </a>

      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <ul class="list-group">
            <%for(let chat of chats) {%>
            <li class="list-group-item justify-content-between">
              <%= chat._id %>
              <%= chat.chatName %>
              <%= chat.chatDescription %>
              <a href="/forum/chat?id=<%= chat._id %>"><%= chat.chatName %></a>
            </li>
            <%}%>
          </ul>
        </div>
      </div>

        <div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
          <b>ROOMS</b>
          <div id="rooms"></div>
        </div>
        <div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
          <div id="conversation"></div>
          <input id="data" style="width:200px;" />
          <input type="button" id="datasend" value="send" />
        </div>

      </div>
      <input id="pseudo" type="hidden" value=<%=user.email%> />

    </div>

    <div><% include ./partials/footer %></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script>
      var socket = io.connect('http://localhost:3000');
      var username = document.getElementById('pseudo').value;
      var url_string = window.location.href;
      var url = new URL(url_string);
      var chatId = url.searchParams.get("id");
      var data = { username: username, chatId: chatId };


    // on connection to server, ask for user's name with an anonymous callback
    socket.on('connect', function(){
      // call the server-side function 'adduser' and send one parameter (value of prompt)
      socket.emit('adduser', data);
      // socket.emit('adduser', prompt("What's your name?"));
    });

      // listener, whenever the server emits 'updatechat', this updates the chat body
      socket.on('updatechat', function (username, data) {
        $('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
      });

      // listener, whenever the server emits 'updaterooms', this updates the room the client is in
      socket.on('updaterooms', function(rooms, current_room) {
        $('#rooms').empty();
        $.each(rooms, function(key, room) {
          if(room == current_room){
            $('#rooms').append('<div>' + room + '</div>');
          }
          else {
            $('#rooms').append('<div><a href="#" onclick="switchRoom(\''+room+'\')">' + room + '</a></div>');
          }
        });
      });

      function switchRoom(room){
        socket.emit('switchRoom', room);
        $('#conversation').empty();
      }

      // on load of page
      $(function(){
        // when the client clicks SEND
        $('#datasend').click( function() {
          var message = $('#data').val();
          $('#data').val('');

          var url_string = window.location.href;
          var url = new URL(url_string);
          var chatId = url.searchParams.get("id");
          var pseudo = document.getElementById('pseudo').value;

          var messageData = {
            chatId: chatId,
            postedBy: pseudo,
            messageContent: message,
            messageCreationDate: new Date().toJSON().slice(0,10)
          };

          console.log("objet message",messageData);
          // tell server to execute 'sendchat' and send along one parameter
          socket.emit('sendchat', message);
        });

        // when the client hits ENTER on their keyboard
        $('#data').keypress(function(e) {
          if(e.which == 13) {
            $(this).blur();
            $('#datasend').focus().click();
          }
        });
      });

    </script>
  </body>
</html>
