<!DOCTYPE html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="#" />
    <meta name="description" content="#">
    <!-- Document title -->
    <title>Job opportunity</title>
    <!-- Stylesheets & Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600|Montserrat:400,500,600,700|Raleway:100,300,600,700,800"
        rel="stylesheet" type="text/css" />
    <link href="../stylesheets/plugins.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet">
    <link href="../stylesheets/responsive.css" rel="stylesheet">

    <!-- BLOG FONT & STYLE -->
    <link href="http://fonts.googleapis.com/css?family=Damion" rel="stylesheet" type="text/css">
    <link href="stylesheets/style-blog.css" media="screen" rel="stylesheet" type="text/css" />

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>

<body>

    <% include ./partials/header %>

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Page title -->
            <section id="page-title" class="page-title-classic" style="background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);">
                <div class="container">
                    <div class="breadcrumb">
                       <!--  <ul>
                            <li>
                                <a href="#" style="color:white;">Pool de profils</a>
                            </li>
                            <li class="active">
                                <a href="#" style="color:white;">Job opportunity</a>
                            </li>
                        </ul> -->
                    </div>
                    <div class="page-title">
                        <h1 style="color:white;">Job opportunity</h1>
                        <p style="color:white;">Des offres d'emplois à volonté !</p>
                    </div>
                </div>
            </section>
            <!-- end: Page title -->

            <section>
                <div class="container">
                    <!--Accordion default-->
                    <h3>Publie une offre d'emploi</h3>
                    <div class="accordion">
                        <div class="ac-item">
                            <h5 class="ac-title">
                                <i class="fas fa-comments"></i> Cliquez ici pour ouvrir le formulaire</h5>
                            <div class="ac-content">
                                <div class="col-md-10 col-md-offset-1">
                                    <form action="/job_opportunity/publish" method="POST">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="upper" for="jobTitle">Titre du poste</label>
                                                    <input type="text" class="form-control required" name="jobTitle" placeholder="Entrer le type de mission" id="job" aria-required="true">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="upper" for="jobCompany">Entreprise</label>
                                                    <input type="text" class="form-control required" name="jobCompany" placeholder="Entrer le nom de l'entreprise" id="company"
                                                        aria-required="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="upper" for="jobContact">Contact de l'entreprise</label>
                                                    <input type="text" class="form-control required" name="jobContact" placeholder="Entrer l'adresse email ou le numéro de téléphone"
                                                        id="jobContact" aria-required="true">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="upper" for="jobReference">Référence de l'annonce</label>
                                                    <input type="text" class="form-control required" name="jobReference" placeholder="Entrer la référence de l'annonce" id="reference"
                                                        aria-required="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="upper" for=""></label>
                                                    <input type="hidden" class="form-control required" name="postedBy" id="" aria-required="true">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="upper" for=""></label>
                                                    <input type="hidden" class="form-control required" name="postDate" id="" aria-required="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="upper" for="jobCity">Ville</label>
                                                    <input type="text" class="form-control required" name="jobCity" placeholder="Entrer la ville" id="ville" aria-required="true">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="upper" for="jobSalary">Salaire</label>
                                                    <input type="text" class="form-control required" name="jobSalary" placeholder="Salaire proposé" id="salary" aria-required="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="upper" for="contract">Type de contrat de travail</label>
                                                <select name="jobContractType">
                                                    <option>CDI</option>
                                                    <option>Freelance</option>
                                                    <option>CDD</option>
                                                    <option>Interim</option>
                                                    <option>Green card</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="upper" for="experience">Expérience minimum</label>
                                                <select name="jobExperience">
                                                    <option>0-2</option>
                                                    <option>2-4</option>
                                                    <option>2-5</option>
                                                    <option>5-10</option>
                                                    <option>+10</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="upper" for="resume">Résumé du poste</label>
                                                    <input type="text" class="form-control required" name="jobResume" placeholder="Entrer un résumé du poste" id="resume" aria-required="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="upper" for="info">Votre annonce</label>
                                                    <textarea class="form-control required" name="jobInfo" rows="9" placeholder="Taper votre annonce ici" id="info" aria-required="true"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group text-center">
                                                    <button class="btn btn-default" type="submit">
                                                        <i class="fa fa-paper-plane"></i>&nbsp;Publier</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END: Accordion default-->
                </div>
            </section>

            <section class="background-grey">
                <div class="container">
                    <!-- START -->
                    <div class="row" class="content">
                        <!-- START -->
                        <%
                            for(var i=0; i<jobList.length; i++) {
                            %>
                            <div class="col-md-6">
                                <div class="panel panel-default">

                                    <div class="panel-heading">
                                        <i class="fab fa-js"></i>
                                        <%=jobList[i].jobTitle%> -
                                            <%=jobList[i].jobContractType%> -
                                                <%=jobList[i].jobCity%>
                                    </div>
                                    <div class="panel-body">
                                        <span class="post-meta-date">
                                            <span class="post-author">
                                                <img src="http://via.placeholder.com/2x2">
                                                <span>Publier par
                                                    <%=jobList[i].postedBy%>
                                                </span>
                                                <span>le
                                                    <%=jobList[i].postDate%>
                                                </span>
                                            </span>
                                            <br>
                                            <br>
                                            <h4>
                                                <%=jobList[i].jobResume%>
                                            </h4>
                                            <p>
                                                <%=jobList[i].jobInfo%>
                                            </p>
                                            <div class="col-md-6">
                                                <ul class="list-icon">
                                                    <li>Entreprise:
                                                        <%=jobList[i].jobCompany%>
                                                    </li>
                                                    <li>Salaire proposé:
                                                        <%=jobList[i].jobSalary%>
                                                    </li>
                                                    <li>Expérience:
                                                        <%=jobList[i].jobExperience%>
                                                    </li>
                                                </ul>
                                            </div>
                                    </div>
                                    <div class="panel-footer">
                                        <button type="button" class="btn btn btn-default btn-sm" data-container="body" data-toggle="popover" data-placement="bottom"
                                            title="Infos:" data-content="Contact recruteur: <%=jobList[i].jobContact%> ; Référence de l'annonce: <%=jobList[i].jobReference%>">
                                            <i class="fa fa-arrow-right"></i> Postuler</button>
                                    </div>
                                </div>
                            </div>
                            <!-- END -->
                            <%
                        }
                        %>
                    </div>
                    <!--END: -->
                </div>

                <hr class="space">

                <!-- Pagination -->
                <div class="pagination pagination-simple">
                    <ul>
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">
                                    <i class="fa fa-angle-left"></i>
                                </span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end: Pagination -->
            </section>

            <% include ./partials/footer %>

        </div>
        <!-- end: Wrapper -->

        <!-- Go to top button
        <a id="goToTop">
            <i class="fa arrow-right"></i>
            <i class="fa fa-angle-up"></i>
        </a>
        Plugins-->
        <script src="../javascripts/jquery.js"></script>
        <script src="../javascripts/plugins.js"></script>

        <!--Template functions-->
        <script src="../javascripts/functions.js"></script>

</body>

</html>
